// Nextflow config

manifest {
    homePage = 'https://github.com/blue-moon22/GBS_QC_nf'
    description = "A NextFlow pipeline of Group B Strep QC"
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
}

params {

    rel_abund_threshold = 70
    run_reads_qc = false
    pf_version = "1.0.1"
    lanes = ""
    species = "'Streptococcus agalactiae'"
    headers = "./headers.json"
    python_version = "3.7.4"
    qc_report = ""
    
}

env {
    PYTHONPATH = "$baseDir"
    HTTP_PROXY = "http://wwwcache.sanger.ac.uk:3128"
    HTTPS_PROXY = "http://wwwcache.sanger.ac.uk:3128"
    LC_CTYPE="en_US.UTF-8"
    LC_ALL="en_US.UTF-8"
}

profiles {
    // Standard default configuration for an LSF FARM environment
    standard {
        docker {
             enabled = false
        }
        singularity {
             enabled = true
             autoMounts = true
             cacheDir = "$PWD"
        }

        process.cpus = 1
        process.memory = "2GB"
        process.queue = "normal"
        process.errorStrategy = {task.attempt <= 1 ? 'retry' : 'ignore'}
        maxRetries = 2
        process.maxRetries = 3
        executor {
            name = "lsf"
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = 100
            jobName = { "gbs_qc - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}
